nav.navbar, .navbar-default {
    background-color: white;
}

.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-brand {
    color: white;
    padding: 5px 10px 8px 0px;
    margin: -1px 40px !important;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: darkslategrey;
    background-color: transparent;
}

.navbar-right{
  margin-right: 100px;
}

.navbar-form{
  margin: 0px 0px 0px 70px;

}

.navbar-form .form-group{
  margin: 0px;
  width: 250px;
}

.navbar-form .form-control{
  width: 100%;
}
