/*
@author: Ozan Kınasakal
*/

#feed{

	padding: 0px 84px;
	border-radius: 10px;
}


.project{
	border-radius: 16px;
	border: 1px solid;
	padding: 15px;
	margin: 20px 0;
	background-color: white;
}

.project .img-responsive{
	margin-bottom: 8px;
}

.logo{
	border: 1px solid;
	border-radius: 125px;
	border-color: white;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 30px;
}
hr{
	border-color: #e8ebee;
}
