[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
mysqlclient = "*"
django-allauth = "*"
djangorestframework-jwt = "*"
django-rest-auth = {version = "*", extras = ["with_social"]}

[requires]
python_version = "3.7"
